.nav-bar{
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
    display: flex;
    background-color: #DE2B27;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.red-bar-svg-a{
    width: 100%;
    z-index: 0;
    transform: rotate(180deg);
    
}

.app-bar-a{
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media screen and (min-width: 768px) {
    .red-bar-svg-a{
        /* margin-top: -13.5rem; */
    }
}
