.red-bar-svg{
    width: 100%;
    margin-top: -1rem;
    z-index: 0;
}

.logo{
    position: absolute;
    transform: scale(0.4);
    top: -4.5rem;
}

@media screen and (min-width: 768px) {
    .red-bar-svg{
        margin-top: -13.5rem;
    }
    .logo{
        transform: scale(0.2);
        top: -21rem;
    }
}
