.Tiempo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 66px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;

  color: #000000;
}

.TimeVar {
  margin-left: 16px;
  margin-right: 40px;
}

.InfoSvg {
  /* background: #000000; */
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}

/* .CuponesLayout {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.NivelCupon {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #787878;
  width: 100%;
}

.cupon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
}

.cupon-info {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */

.heb-img {
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(25%, 65%);
}

.cupon-text {
  width: 180px;
  position: absolute;
  right: 0;
  /* Review to better text position */
  top: 5%;
  transform: translate(-8%, 16%);
  border-left:2px #787878;
  padding-left: 10px;

  font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
}


.cupon-infoPopup{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 40%;
    /* left: 50%; */
    cursor: pointer;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.close-imgPopup{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 40%);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.CuponPopup{
    width: 100%;
    height: 100%;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.PopUpButton{
    position: absolute;
    bottom: 0;
    transform: translate(0%, -20%);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;
    
    background: #F85A46;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.PopUpButton:hover{
    /* transform:scale(1.0); */
}

.cupon-textPopup{
    width: 75%;
    position: absolute;
    left: 50px;
    top: 0;
    transform: translate(-2%, 16%);
    border-left:2px #787878;
    padding-left: 10px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
  }

.container{
    /* height: 100vh; */
    /* overflow-y: scroll; */
    margin-bottom: 80px;
}

.TimeText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;

    position: absolute;
    z-index: 1;
    
    color: #000000;
}